body {
    width: 100%;
    background: rgb(218, 218, 218);
    word-break: break-all;
    word-break: break-word;
    font-family: 'Alatsi';

    main {
        #list {
            padding: 30px;
            width: 35%;
            border-radius: 10%;
            background: rgba(255, 255, 255, 0.205);
            margin: 0 auto;

            .listitem {
                display: flex;
                flex-direction: row;

                .textarea {
                    width: 70%;
                }

                .checkarea {
                    width: 30%;
                    display: flex;
                    align-items: center;
                }
            }

            .done {
                background-color: #7df185;
            }

            .notdone {
                background-color: #f36666;
            }
        }
    }
}